
header {

    text-align: center ;
    font-size: x-large ;
}

#foto{
    margin: solid red 200px 200px 200px 200px;
    position: fixed;
    top: 0;
    left: 0

}

.titulos {
    font-family: "font-family: 'Emblema One'";
}

#info-JP{
    align-items: center;
}

ul{
    list-style: none;
}

#formación{
    background-color: aqua;
}
#experiencia{
    background-color: #e0e0d1;
}

