
*   {
    box-sizing: border-box;
   
}

h1  {
    text-align: center;
    background-color: rgb(122 131 199); ;
   
}

h2  {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
    color: white;

}

p {
    padding-left: 32px;
    padding-right: 32px;

}

ul {
    list-style: none;
}

label {
    text-decoration: underline;
}

.blanco {
    color: white;
}

.imágenes {
    max-width: 70%;
    position: relative;
    margin: auto;
 
}

.mySlides {
    display: none;
  
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active, .dot:hover {
    background-color: #717171;

}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}

.text {
    text-align: center;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}

}

#encabezado {
    border-right: 0px;
    border-bottom: 0px;
    margin-right: -12px;
  
}

#título {
  margin-bottom: 0px;

}

#foto {
    border:5px solid red; 
}

#info-FC  {
    text-align: center;
    line-height: 1,5;
    font-size: large;
}

#funcion-contacto   {
    text-align-last: center;
    
}

#col-izq    {
    background-color: rgb(122 131 199);
    margin-top: 0%;
    padding-left: 12px;
    padding-right: 0px;
    font-weight: bold;
  }

#col-der    {
    background-color:   rgb(19, 6, 63);
    padding-top: 12px; 
    padding-bottom: 12px;
   
}