
* {
    box-sizing: border-box;
  }

#foto{
    border:5px solid red;
  
}

ul{
    list-style: none;
}

#formación{
    background-color: aqua;
}
#experiencia{
    background-color: #e0e0d1;
}

header {
    text-align: center;
    color: chartreuse;
}

#funcion-contacto{
   text-align: center;
}